<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Configuration Settings for AuthZ Server -->
    <add key="OAuthZServer.AccessTokenDefaultLifetimeMinutes" value="15" />
    <add key="CryptoKeyHelper.Certificates.Services" value="Signing.AuthZServer" />
    
    <!-- Integration testing settings -->
    <add key="AuthZService.BaseUrl" value="https://localhost:44300/api"/>
    <add key="AuthZService.BaseUrl.Token" value="https://localhost:44300/api/token"/>
    <add key="IntegrationTest.WebServerProcessName" value="iisexpress"/>
    <add key="IntegrationTest.WebServerStartCommand" value="%SYSTEMDRIVE%\Program Files (x86)\IIS Express\iisexpress.exe"/>
    <add key="IntegrationTest.WebServerStartArguments" value="/site:Services.AuthZ" />
  </appSettings>
</configuration>